.welcomeUser{
    color: #ffffff;
}
body{
    min-width:1280px;
    min-height:720px;
    background: url("http://sf.co.ua/14/02/wallpaper-1846992.jpg");
}
.my-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

